/__pycache__/
/datasets/
/ckpt/
/yolo/data/
/yolo/raw_data/
/yolo/runs/
/yolo/tmp_data
/yolo/*.yaml
/yolo/*.mp4
/yolo/*.png
/yolo/__pycache__/

/input_cache.json
/runs/
/detr/__pycache__
/detr/util/__pycache__
/detr/models/__pycache__


/CSCA/losses/__pycache__
/CSCA/models/__pycache__
/CSCA/datasets/__pycache__
/CSCA/utils/__pycache__

/data/
/kagglehub/

